.toolbar{
  display: flex;
  justify-content: space-between;

  align-items: center;

}
.alinhamento-add-autor{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .alinhamento-autores{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
