.mat-card{
  width: 80%;
}

.toolbar{
  display: flex;
  justify-content: space-between;

  align-items: center;

}
.alinhamento-add-autor{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .alinhamento-autores{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.btn-cadastro{
  position: relative;
  top: 20px;
  height: 70px;

}



.botoes{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;

}
